.body{
    margin: 0;
   
}

.wrapper {
display: grid;
   grid-template-rows:repeat(4, 1fr) ;
    width: auto;
     height: auto;


}
.block1 {

text-align: center;
margin-bottom: 10px;
padding-top: 0;


}
h1{

 font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 47px;
   color: hsla(240, 11%, 16%, 0.7);
  

}
h2 {
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
     font-weight: normal;

}
p {

    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
    color: hsla(240, 6%, 83%, 0.7);
  
}

a {
    text-decoration: none;
    color: blueviolet;
 font-weight: normal;
}


 

.block3 {
    display: grid;
     grid-gap: 30px;
    grid-template-columns: max-content;
 text-align: center; 
 justify-content: space-evenly;


}
.picters{
display: inline-flex;

padding: 10px;

}

.block4 {
     /* display: grid;
     grid-gap: 30px; */
    position: relative;
    text-align: center;


}
.read-link {
position: absolute;
top: 25%;
left: 25%;
right: 25% ;
}
.card{
    width: 300px;
    height: 190px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;

    border-radius: 8px;
    overflow: hidden;
 
}

.card-img {
    width: 100%;
    height: auto;
    max-height: 70%;
}

.card-text {
    padding: 10px;
    background-color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.block4 h3{
    padding-top: 20px;
    font-weight: normal;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 15px;
}
.block5 {
   
    text-align: center;
    border: 1px solid black;
    background-color: black;
}
.path1 {
    text-align: center; 
    margin-top: 40px; 
    margin-bottom: 20px;
}
.path2 {
    text-align: center;  
}

/* media */

@media  (max-width: 854px){ 

 .body {
    margin: 0;
 }   
.wrapper {
        
    width: auto;
  height: 844px; 
} 
.block1 {
       height: 100px;
        padding: 20px;
        padding-bottom: 0;
       
}
.block3{

}
.picters{
    
    display: block;
    padding:30px;
}
.card {
    height: auto;
}
.block4{
  height: 150px;
}
.block5 {
height: 150px;

} 
h1{
font-size: 1.5rem;
}
h2 {
font-size: 1.2rem;
}
}


@media  (max-width: 1597px){
    .card {
    height: auto;
}
}
